@using MobileShop.Models;
@model List<GioHang>

@{ ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<h2 class=""> GIỎ HÀNG <i class="fa fa-shopping-cart"></i></h2>
<br />
<table class="table-hover table-bordered divGioHang">
    <tr style="">
        <th> Mã SP</th>

        <th> Tên SP</th>

        <th> Ảnh bìa</th>

        <th> Đơn giá</th>

        <th> Số lượng</th>

        <th> Thành tiền</th>
    </tr>


    @if (Model.Count == 0)
    {
        <h2 style="text-align:center;"> Gio Hang Trong</h2>


    }
    else
    {
        @foreach (var item in Model)
        {
            <tr class="font-italic">
                <td> @item.iMasp</td>

                <td> @item.sTensp</td>

                <td><img style="width: 50px; margin-top: 15px; height: 50px;" src="@Url.Content(item.sAnhBia)" /> </td>

                <td>  @String.Format("{0:0,0}", item.dDonGia) VNĐ</td>

                <td> @item.iSoLuong</td>

                <td>   @String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>


            </tr>
        }
    }




    <tr>
        <td colspan="6" style="text-align:right">

            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
        </td>

        </td>
    </tr>
</table>
<div style="margin-left:40px">
    <label style="min-width:100px;">Người nhận</label>
    <input type="text" name="name" />
    <br />
    <label style="min-width:100px;">Địa chỉ</label>
    <input type="text" name="address" />
    <br />
    <label style="min-width:100px;">SDT</label>
    <input type="text" name="phone" />
    @using (Html.BeginForm("DatHang", "GioHang", new { @class = "" }))
    {
        <input type="submit" value="Đặt hàng" class="btn-danger" />
    }
</div>



@*Css giỏ hàng*@
<style type="text/css">
    .divGioHang {
        border: 2px solid #EEEEEE;
        margin-left: 10%;
        font-size: large
    }

        .divGioHang td {
            padding: 10px;
            border: 2px solid #EEEEEE;
            text-align: center
        }

        .divGioHang th {
            text-align: center
        }
</style>