@using MobileShop.Models
@model X.PagedList.IPagedList<MobileShop.Models.Sanpham>
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Product List";

}

<style>
    .active {
        background: red !important;
        color: #5a88ca;
    }
</style>
<div class="slider-area">
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="https://cdn.tgdd.vn/2021/11/banner/Aseri-830-300-830x300.png" alt="Slide">
            </li>
            <li>
                <img src="https://cdn.tgdd.vn/2021/11/banner/830-300-830x300-8.png" alt="Slide">
            </li>
            <li>
                <img src="https://cdn.tgdd.vn/2021/11/banner/830-300-830x300-6.png" alt="Slide">
            </li>
        </ul>
    </div>
</div>


<div class="row">


    <div class="col-lg-3 p-0">
        <table class="table table-light table-hover border-bottom-10">
            <thead>
                <tr>
                    <th class="text-center navbar-brand bg-secondary"><b>Danh mục sản phẩm</b></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center bg-dark">
                        <a class="navbar-brand text-warning" href="/Sanpham"><b>Tất cả sản phẩm</b></a>
                    </td>
                </tr>
                @foreach (var item in ViewBag.Hangsanxuats)
                {
                    <tr>
                        <td class="text-center bg-dark">
                            @{ string tenhang = item.Tenhang;}
                            @Html.ActionLink(@tenhang, "Index", "Sanpham", new { Mahang = item.Mahang }, new { @class = "navbar-brand text-warning " })
                        </td>
                    </tr>
                }
            </tbody>
        </table><ul class="nav navbar-nav">
        </ul>
    </div>
    <div class="dt col-lg-9">
        <div class="dt col-lg-12">
            <div class="row">
                <h3 style="text-align: center; background-color: #5a88ca" border-radius: 30px; color: whitesmoke"> Danh sách sản phẩm </h3>

                @if (Model.Count == 0)
                {
                    <h1 style="text-align:center; color:darkred">Không có sản phẩm</h1>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4" style="padding: 5px;">
                            <div style="padding: 5px; border: 1px solid grey; background-color: lavender; border-radius: 20px; height: 450px; margin-bottom: 5px">
                                <div>
                                    <a href="/Sanpham/Detail/@item.Masp"><img style="width: 100%; margin-top: 15px; height: 300px;" src="@Url.Content(item.Anhbia)" /></a>
                                    <div class="p-4">
                                        <div class="text-center">
                                            <h4><a style="font-size:20px; color: #5a88ca; text-align: center" href="/Sanpham/Detail/@item.Masp">@item.Tensp</a></h4>
                                            <span>Giá: @item.Giatien</span>
                                        </div>
                                    </div>
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            @using (Html.BeginForm("ThemGioHang", "GioHang", new { @Ma = item.Masp }))
                                            {
                                                if (item.Soluong < 1)
                                                {
                                                    <button disabled class="btn btn-outline-dark text-dark">
                                                        <i class="bi-cart-fill me-1"></i>Hết hàng
                                                    </button>
                                                }
                                                else
                                                {
                                                    <input class="btn btn-danger" type="submit" value="Mua hàng" id="bgnGioHang" />
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="text-center" style="margin-top:20px">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>
